<header class="site-header">

  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/static/img/clubs.svg" alt="{{ site.title | escape }}"></a>

      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar">
        <a class="nav-link" href="/activities/">Activities</a>
        <div class="navbar-dropdown">
          <span class="nav-link">Club's Corner</span>
          <div class="navbar-dropdown-content">
            <ul>
            <li><a class="nav-link" href="/get-started/">Get Started</a></li>
            <li><a class="nav-link" href="/resources/">Resources</a>    </li>
            <li><a class="nav-link" href="/connect/">Connect</a>        </li>
            <li><a class="nav-link" href="/report/#">Report</a>         </li>
            <li><a class="nav-link" href="/faq/">FAQ</a>           </li>
            </ul>
          </div>
        </div>
        <a class="nav-link" href="/about/">About</a>
      </div>

      <div id="tabzilla" class="hidden-lg-down">
        <a href="https://www.mozilla.org/" data-link-type="nav" data-link-name="tabzilla">Mozilla</a>
      </div>
    </div>
  </nav>

</header>
