<header class="site-header">

  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/static/img/clubs.svg" alt="{{ site.title | escape }}"></a>

      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-md" id="exCollapsingNavbar">
        <a class="nav-link" href="/activities/">Activities</a>
        <div class="drop_div" style="display: inline-block;">
          <a class="nav-link" href="#">Club's corner</a>
          <div class="submenu">
            <a class="nav-link2" href="/get-started/">Get Started</a>
            <a class="nav-link2" href="/resources/">Resources</a>
            <a class="nav-link2" href="/connect/">Connect</a>
            <a class="nav-link2" href="/report/#">Report</a>
            <a class="nav-link2" href="/faq/">FAQ</a>
          </div>
        </div>

        <a class="nav-link" href="/about/">About Clubs</a>
        
      </div>

      <div id="tabzilla" class="hidden-lg-down">
        <a href="https://www.mozilla.org/" data-link-type="nav" data-link-name="tabzilla">Mozilla</a>
      </div>
    </div>
  </nav>

</header>
