<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TSP97TZ');</script>
  <!-- End Google Tag Manager -->

  <link rel="shortcut icon" href="{{"/static/img/favicon.ico" | prepend: site.url }}">
  <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
  <link rel="stylesheet" href="{{ "/static/css/bootstrap.min.css" | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/static/css/mofo-bootstrap.css" | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/static/css/app.css" | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>
