---
layout: default
---
<link rel="stylesheet" href="{{ "/static/css/leaflet.css" | prepend: site.url }}">
<script src="{{ "/static/js/tabletop.min.js" | prepend: site.url }}"></script>
<script src="{{ "/static/js/leaflet.js" | prepend: site.url }}"></script>
<script src="{{ "/static/js/leaflet.sprite.js" | prepend: site.url }}"></script>

<article class="post">

  {% if page.parent %}
    {% assign parent=site.pages | where:"ref", page.parent %}
    <section class="breadcumbs">
      <p><a href="{{ parent[0].permalink }}">{{ parent[0].title }}</a> - {{ page.title }}</p>
    </section>
  {% endif %}

  <div class="post-content txleft">
    {{ content }}
  </div>

</article>
